*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.topo {
    height: 67px;
    width: 100%;
    background-color: #C3CFD9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topo h1{
    font-weight: 400;
    font-size: 34px;

    color: #E8833A;
}

.subtitle{
    height: 110px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle h2{
    font-weight: 400;
    font-size: 24px;

    color: #293845;
}

.box-title{
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0 11px 24px 24px;
    cursor: pointer;
}

.box-title img{
    width: 129px;
    height: 193px;
    margin: 8px 8px;
}

.titles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Horarios */

.box-bot{
    width: 100%;
    height: 117px;

    background: #DFE6ED;
    border: 1px solid #9EADBA;
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
}

.box-bot h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;

    color: #293845;
}

.box-bot .box-title{
    width: 64px;
    height: 89px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 14px 14px;
    background-color: #FFFFFF;
}
.box-bot .box-title img{
    width: 48px;
    height: 72px;
}

.mid {
    display: flex;
    
    align-items: center;
    flex-direction: column;

    overflow-y: visible;
    margin-bottom: 117px;
}

.horarios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.horarios p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #293845;
}

.box-hora {
    width: 83px;
    height: 43px;

    background: #E8833A;
    border-radius: 3px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 8px 20px 0;
}

.box-hora:active {
    transform: translateY(2px);
}


.box-hora p {
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.horarios div {
    display: flex;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
    text-decoration: none;
}

a:-webkit-any-link {
    outline: none;
	outline-offset: none;
    text-decoration: none;
}

.assentos {
    display: flex;
    flex-wrap: wrap;
    width: 340px;

}

.assento {
    width: 26px;
    height: 26px;

    background: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    margin: 9px 4px;

    cursor: pointer;
}

.assento-indisponivel {
    background: #FBE192;
    border: 1px solid #F7C52B;
    border-radius: 17px;
}

.assento-selecionado {
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    border-radius: 17px;
}

.exemplo-disponibilidade {
    display: flex;
}

.exemplo-disponibilidade > div{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20px;
}

.exemplo-disponibilidade div p{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;

    color: #4E5A65;
}

/* Formulário */

.title-form {
    font-weight: 400;
    font-size: 18px;

    color: #293845;
}

.input-box {
    margin-top: 10px;
}

.input-box input{
    width: 327px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;

    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding: 0 18px;

}

.form-box {
    margin: 30px 0;
}

.button-envia {
    width: 225px;
    height: 42px;

    background: #E8833A;
    border-radius: 3px;

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

    margin-top: 50px;
    margin-bottom: 30px;
    }

.conteudo-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Fim Formulário*/

/* Pedido Finalizado*/
.sucesso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagemPost{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagemPost div {
    width: 165px;
}

.mensagemPost h2 {
    text-align: center;
}

.sucesso h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 30px;
}

.ok{  
    color:#247A6B;
}

.falha{
    color: #df1405;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 300px;
}

.info p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #293845;
}